/* 1.Global reset/Defaults*/
*{
   /* A good Practice to remove default paddind/margin*/
   margin: 10px;
   padding: 0;
   box-sizing: border-box;
}

body {
    /* A good practice to remove default padding*/
font-family: Arial, sans-serif;
line-height: 1.6;
background-color: #e0d5d5;
color: #333;
}

header {
background-color: rgb(237, 227, 227);
padding: 20px 0;
color: rgb(15, 14, 14);
text-align: center;
}
header img {
    max-width: 300PX;
    height: auto;
    margin-bottom: 5px;
    size: inherit;
}